/* RESETS */
body {
    padding: 0;
    margin: 0;
}
div, footer {
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
/*END RESETS*/

.personal {
    width: 100%;
    border: 2px solid green;
}
.personal ul {
    list-style: none;
}

.portrait {
    width: inherit;
    position: relative;
}
.portrait img {
    display: block;
    width: inherit;
}
.portrait p {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.contact {
    width: 100%;
    border: 2px solid blue;
}

.education {
    width: 100%;
    border: 2px solid cyan;
}

.languages {
    width: 100%;
    border: 2px solid red;
}

.interests {
    width: 100%;
    border: 2px solid lightgreen;
}



.skills {
    width: 100%;
    border: 2px solid yellow;
}
.skills div {
    width: 250px;
    height: 250px;
    border: 2px solid blue;
}

.programming {

}

.soft-skills {

}

.tools {
}

.work-xp {
    height: 300px;
    width: 100%;
    border: 2px solid red;
}

footer {
    height: 100px;
    width: 100%;
    border: 2px solid blue;
}

@media (min-width: 30em) {
    .personal {
        width: 20%;
        float: left;
    }

    .education, .work-xp {
        width: 80%;
        float: right;
    }

    /* .education {
        width: 70%;
        float: left;
    }

    .work-xp {
        width: 70%;
        float: left;
    } */

    footer {
        clear: both;
    }
}