/* RESETS */
body {
    padding: 0;
    margin: 0;
}
div, footer {
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    margin: 0;
    padding: 0;
}
/*END RESETS*/

.personal {
    width: 100%;
    border: 2px solid green;
}

.portrait {
    width: 100%;
    position: relative;
}
.portrait img {
    display: block;
    width: inherit;
}
.portrait p {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.contact {
    width: 100%;
    border: 2px solid blue;
}

.education {
    width: 100%;
    border: 2px solid cyan;
}

.languages {
    width: 100%;
    border: 2px solid red;
}

.interests {
    width: 100%;
    border: 2px solid lightgreen;
}



.skills {
    width: 100%;
    border: 2px solid orange;
}
.skills > div {
    width: 70vw;
    height: 70vw;
    border: 2px solid blue;
}

.programming {
}

.soft-skills {

}

.tools {
}

.projects {
    width: 100%;
    border: 2px solid red;
}
.projects .item {
    border: 2px solid green;
}

footer {
    height: 100px;
    width: 100%;
    border: 2px solid blue;
}

@media (min-width: 768px) {
    .personal {
        width: 20%;
        float: left;
    }

    .skills, .projects {
        width: 80%;
        float: right;
    }

    .projects {
        column-count: 2;
        column-fill: auto;
    }

    .skills > div {
        width: 25vw;
        height: 25vw;
        display: inline-block;
    }

    footer {
        clear: both;
    }
}